body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background: #f2f2f2;


}
a {
  text-decoration: none;
}
.main-navigation {
  background-color: white;
}
.site-navigation {
  line-height: 26px;
  font-weight: bold;
  list-style: none;
}
.site-navigation a {
  color: black;
}
.welcome {
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
.intro {
  background-color: white;
}
.intro h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.intro h2,
.intro h3 {
  font-size: 21px;
  text-align: center;
}
.intro p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.booking {
  background-color: white;
}
.booking h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.booking p {
  line-height: 24px;
  text-align: center;
}
p {
  color: #333333;
  font-weight: normal;
}
.search-hotels {
  background-color: white;
}
.booking-button {
  color: white;
  text-transform: uppercase;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
.search-hotels ul {
  list-style: none;
}
.search-item {

  font-size: 14px;
  line-height: 26px;
  text-align: left;
}
.search-item input,
.search-item button {
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  text-align: center;
}
.search-button {
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  border: none;
}
.main-footer b {
  background-color: #f9fbf6;
  font-size: 21px;
  line-height: 26px;
}
.footer-social ul {
  list-style: none;
}
.social-button a {
  background-color: #81b3d2;
  color: white;
}
.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}
.booking-button:hover {
  background-color: #604e43;
}
.booking-button:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #503e33;
}
.search-button:hover {
  background-color: #669ec0;
}
.search-button:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #5496bd;
}
.search-item input:hover {
  background-color: #ebebeb;
}
.search-item input:active {
  background-color: white;
  border: 2px solid #e5e5e5;
}
.site-navigation-current {
  color: #766357;
}
.sorting-filter,
.hotels {
  background-color: white;
}
.sorting-filter b {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}
.sorting-filter h2 {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.hotel-info a {
  color: black;
  font-size: 21px;
  line-height: 26px;
}
.hotels-type,
.hotels-booking-price,
.hotel-rating span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.hotel-rating span:last-child {
  background-color: #f2f2f2;
}
.hotel-info .link-about {
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #81b3d2;
}
.hotel-info .link-book {
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #766357;
}
.link-about:hover {
  background-color: #669ec0;
}
.link-about:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #5496bd;
}
.link-book:hover {
  background-color: #604e43;
}
.link-book:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #503e33;
}
